{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha384-bVVah+xR6xxaWB+058RtJsL5vFsd/e5PPSd6OVvJcfKehXzKvm2mT2tRPmPb6T35" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/courseinfo_style.css' %}">
<title>course information </title>

<div class="bigbox">
    <div class="TheLists">
        <!-- First Section -->
        <div class="list-group">
            <p class="about">About </p>
            <p class="outcomes">Outcomes</p>
            <p class="courses">Courses</p>
            <div class="line"></div>
        </div>
        <div class="image-and-info">
            <img src="{% static 'images/courseinfo.png' %}" alt="About Image" class="about-image">

            <div class="informationget-box">
                <h3>What Will You Get?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <p>Id interdum dui mollis . Suspendisse nulla :</p>
                <ul class="no-bullet">
                    <li>☑️ First Thing</li>
                    <li>☑️ Second Thing</li>
                    <li>☑️ Third Thing</li>
                </ul>
            </div>
        </div>
        <div class="course-details-container">
            <div class="course-details">
                <h3>Python Language - 5 course series</h3>
                <p>Get in-depth knowledge of a subject</p>
                <hr> <!-- New line -->
                <p>Rating: 4.8
                    <!-- Updated SVG code with width and height attributes -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="12" height="12">
                        <path fill="#1b25b6"
                            d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3V376.4zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z" />
                    </svg>
                </p>
                <p>Level: Beginner</p>
                <p>Duration: 2 months, 10 hours a week</p>
                <p>Schedule: Flexible</p>
                <hr> <!-- Existing line 3 -->
            </div>

        </div>

        <!-- Second Section -->
        <div class="second-section">
            <div class="skills">
                <h2>Skills You'll Gain</h2>
                <ul>
                    <li>Skill 1</li>
                    <li>Skill 2</li>
                    <li>Skill 3</li>
                </ul>
            </div>
            <div class="more-details">
                <h2>More Details</h2>
                <a href="https://www.linkedin.com/in/your-profile-link" class="link"><i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}