{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>All Courses</title>
    <!-- custom link -->
    <link rel="stylesheet" href="{% static 'css/AllCourses.css' %}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <!--  All Courses section start -->
    <section class="course">
        <!-- <h2 ><span>All</span> Courses</h2> -->
        <h2 class="name-of-all-courses"> All Courses</h2>

        <div class="dropdown">
            <button onclick="toggleDropdown()" class="dropbtn">Category</button>
            <div id="categoryDropdown" class="dropdown-content">
                <div class="search-container">
                    <input type="text" id="categorySearchInput" placeholder="Search...">
                    <button onclick="searchCategory()">Search</button>
                </div>
                <a href="#">All</a>
                <a href="#">Design</a>
                <a href="#">Science</a>
                <a href="#">Programming</a>
                <a href="#">Business</a>
                <a href="#">Languages</a>
                <a href="#">Personal Development</a>
                <a href="#">Art</a>
            </div>
        </div>



        <div class="course-section">
            <!-- Course 1 -->
            <div class="course-info" onclick="window.location.href='edit-profile.html'">
                <!-- Course content -->
                <img class="course-image" src="{% static 'images/img1.jpeg' %}" alt="Course 1" />
                <div class="course-title">ALRHAZ</div>
                <div class="course-details">
                    <div class="category prog">science</div>
                    <div class="hours"><span class="emoji">&#9200;</span> 20 hours</div>
                    <div class="students"><span class="emoji">&#128100;</span> 500</div>

                    <div class="lessons"><span class="emoji">&#128214;</span> 10</div>
                    <div class="instructor"><span class="emoji">&#128188;</span> John Doe</div>
                    <div class="reviews">
                        ⭐⭐⭐⭐⭐ <!-- Unicode stars for ratings -->
                        <p>1K</p> <!-- Number of reviews -->
                    </div>
                </div>
            </div>

            <!-- Course 2 -->
            <div class="course-info" onclick="window.location.href='edit-profile.html'">
                <img class="course-image" src="{% static 'images/img2.jpeg' %}" alt="Course 2" />
                <div class="course-title">PRAKTIKA</div>
                <div class="course-details">
                    <div class="category science">science</div>
                    <div class="hours"><span class="emoji">&#9200;</span> 20 hours</div>
                    <div class="students"><span class="emoji">&#128100;</span> 500</div>
                    <div class="lessons"><span class="emoji">&#128214;</span> 10</div>
                    <div class="instructor"><span class="emoji">&#128188;</span> John Doe</div>
                    <!-- Inside the course-details div -->
                    <div class="reviews">
                        ⭐⭐⭐⭐⭐ <!-- Unicode stars for ratings -->
                        <p>1K</p> <!-- Number of reviews -->
                    </div>
                </div>
            </div>
            <div class="course-info" onclick="window.location.href='edit-profile.html'">
                <img class="course-image" src="{% static 'images/img3.jpeg' %}" alt="Course 2" />
                <div class="course-title">PRAKTIKA</div>
                <div class="course-details">
                    <div class="category history">History</div>
                    <div class="hours"><span class="emoji">&#9200;</span> 20 hours</div>
                    <div class="students"><span class="emoji">&#128100;</span> 500</div>
                    <div class="lessons"><span class="emoji">&#128214;</span> 10</div>
                    <div class="instructor"><span class="emoji">&#128188;</span> John Doe</div>
                    <!-- Inside the course-details div -->
                    <div class="reviews">
                        ⭐⭐⭐⭐⭐ <!-- Unicode stars for ratings -->
                        <p>1K</p> <!-- Number of reviews -->
                    </div>
                </div>
            </div>

            <div class="course-info" onclick="window.location.href='edit-profile.html'">
                <img class="course-image" src="{% static 'images/rectangle-14.png' %}"" alt=" Course 2" />
                <div class="course-title">PRAKTIKA</div>
                <div class="course-details">
                    <div class="category history">History</div>
                    <div class="hours"><span class="emoji">&#9200;</span> 20 hours</div>
                    <div class="students"><span class="emoji">&#128100;</span> 500</div>
                    <div class="lessons"><span class="emoji">&#128214;</span> 10</div>
                    <div class="instructor"><span class="emoji">&#128188;</span> John Doe</div>
                    <!-- Inside the course-details div -->
                    <div class="reviews">
                        ⭐⭐⭐⭐⭐ <!-- Unicode stars for ratings -->
                        <p>1K</p> <!-- Number of reviews -->
                    </div>
                </div>
            </div>

            <div class="course-info" onclick="window.location.href='edit-profile.html'">
                <img class="course-image" src="{% static 'images/rectangle-16-3qf.png' %}" alt="Course 2" />
                <div class="course-title">PRAKTIKA</div>
                <div class="course-details">
                    <div class="category history">History</div>
                    <div class="hours"><span class="emoji">&#9200;</span> 20 hours</div>
                    <div class="students"><span class="emoji">&#128100;</span> 500</div>
                    <div class="lessons"><span class="emoji">&#128214;</span> 10</div>
                    <div class="instructor"><span class="emoji">&#128188;</span> John Doe</div>
                    <!-- Inside the course-details div -->
                    <div class="reviews">
                        ⭐⭐⭐⭐⭐ <!-- Unicode stars for ratings -->
                        <p>1K</p> <!-- Number of reviews -->
                    </div>
                </div>
            </div>

            <div class="course-info" onclick="window.location.href='edit-profile.html'">
                <img class="course-image" src="{% static 'images/rectangle-16-hiD.png' %}" alt="Course 2" />
                <div class="course-title">PRAKTIKA</div>
                <div class="course-details">
                    <div class="category history">History</div>
                    <div class="hours"><span class="emoji">&#9200;</span> 20 hours</div>
                    <div class="students"><span class="emoji">&#128100;</span> 500</div>
                    <div class="lessons"><span class="emoji">&#128214;</span> 10</div>
                    <div class="instructor"><span class="emoji">&#128188;</span> John Doe</div>
                    <!-- Inside the course-details div -->
                    <div class="reviews">
                        ⭐⭐⭐⭐⭐ <!-- Unicode stars for ratings -->
                        <p>1K</p> <!-- Number of reviews -->
                    </div>
                </div>
            </div>


            <!-- Add more courses as needed... -->


        </div>
    </section>
    <!-- All Courses section end -->

    <script>
        function toggleDropdown() {
            document.getElementById("categoryDropdown").classList.toggle("show");
        }

        function searchCategory() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("categorySearchInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("categoryDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
        }

    </script>
</body>

</html>
{% endblock %}